$color-fondo: #f9f9f9;
$color-titulo: #333;
$color-texto: #666;
$color-boton: #7fd173; // Color verde pastel

body {
    background-color: $color-fondo;
    font-family: Arial, sans-serif;
    color: $color-texto;
    margin: 0;
    padding: 0;
    
}

.contenedor {
    width: 80%;
    margin: 0 auto;
}

h1 {
    color: $color-titulo;
}

.product {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-img {
    //max-width: 100%;
    border-radius: 5px;
    width: 3rem; /* Ancho deseado */
    height: 10rem; /* Mantener la proporción de aspecto */
}

.product-img-p {
    //max-width: 100%;
    border-radius: 5px;
    width: 15rem; /* Ancho deseado */
    height: 20rem; /* Mantener la proporción de aspecto */
}

.product-info {
    margin-top: 10px;
}

.btn {
    background-color: $color-boton;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: $color-fondo;
    padding: 20px 0;
    text-align: center;
}
